<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Inicio</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-content>
    <div class="inicio" >
    <ion-slides [options]="{ slidesPerView: true, loop: true }">

      <ion-slide>
          <img src="./assets/images/compromiso.png" alt="" width="100px" height="200px">
      </ion-slide>

      <ion-slide>
        <img src="./assets/images/boletin.png" alt="">
      </ion-slide>

      <ion-slide>
        <img src="./assets/images/capacitate.png" alt="">
      </ion-slide>

      <ion-slide>
        <img src="./assets/images/defensa.png" alt="">
      </ion-slide>

      <ion-slide>
        <img src="./assets/images/redes.png" alt="">
      </ion-slide>

      <ion-slide>
        <img src="./assets/images/temporadaciclonica.png" alt="">
      </ion-slide>

      <ion-slide>
        <img src="./assets/images/compromiso.png" alt="">
      </ion-slide>
    </ion-slides>

    <h1 display="4">Desliza</h1>
  </div>


  </ion-content>
</ion-content>
